body,h1,h2,h3,h4,h5,h6,p,form,dl,dd,form,select{
    margin:0;
}
ol,ul,input{
    margin:0; padding:0;
}
li{
    list-style:none;
}
img{
    vertical-align:top; border:none;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
th,td{
    padding:0;
}
table{
    border-collapse:collapse;
}
textarea{
    resize:none;
    overflow:auto;
    outline:none;
}
.clearfix{
    zoom:1;
}
.clearfix{
    content:"";
    display:block;
    clear:both;
}